<!-- templates/index.html -->

{% extends "_base.html" %}

{% block content %}
<section>
  <div class="flex justify-between px-10 py-5 text-4xl">
    <div>logo</div>
    <div class="flex gap-5">
      <div>
        <button class="btn btn-active btn-neutral">sign up</button>
      </div>
      <div>
        <button class="btn btn-active btn-neutral">login up</button>
      </div>
      <a href="/logout">logout</a>
    </div>
  </div>
</section>



  <h1 class="text-3xl text-green-800">Django + Tailwind CSS + Flowbite</h1>
  <p class="font-bold text-4xl text-green-300">hello world</p>
  {{queryset}}
{% endblock content %}