<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{queryset}}
    {% if queryset %}
    <ul>
    {% for question in queryset %}
        <li><a href="/polls/{{ question.id }}/">{{ question.receipe_name }}</a></li>
        <li><a href="/polls/{{ question.id }}/">{{ question.receipe_description }}</a></li>
        <br>
        <img src="/media/{{question.receipe_image}}" alt="My image">

    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>