{% extends "_base.html" %}

{% block content %}
    
<div>

  <div class="avatar">
    <div class="w-24 rounded">
      <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
    </div>
  </div>

  <form action="" class="p-4 w-full">
    <label for="">search food</label>
    <input type="text" name="search_re">
    <button type="submit">search</button>
    <button class="btn">Button</button>

  </form>
    <form method="post" enctype="multipart/form-data" class="w-full p-10 gap-2 flex flex-grow">
      {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">receipe_name</label>
          <input name='receipe_name' type="text" class="form-control" placeholder="receipe_name">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">receipe_description</label>
          <input name="receipe_description" type="text"  placeholder="receipe_description">
        </div>       
        <div class="form-group">
          <label for="exampleInputPassword1">receipe_image</label>
          <input name="receipe_image" type="file"  placeholder="receipe_image">
        </div>   
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

{% endblock content %}